# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/

# Dataset (Huge files)
dataset-*/
data/
*.wav

# Logs & Artifacts
*.log
*.txt
medgemma_pd/ui/data.js

# OS
.DS_Store
Thumbs.db
